body{
    text-align: center;
    color: white;
    background-color: rgb(206, 206, 206);
    background-image: url(img/Mcheck.gif);
    font-family: "VT323", monospace;
}

.ceter {
  max-width: 350px;
  margin-bottom: auto;
  margin-inline: auto;
}